{% extends "base.html" %}
{% load static %}
{% block userstyles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block pagetitle %}Book an Appointment{% endblock %}

{% block pageheader %}
    <div class="row">
        <div class="col">
            <h1>Book An Appointment</h1>
        </div>
    </div>
    <hr class="my-4">
{% endblock %}

{% block content %}

<p>SHOWING AVAILABLE TIMES</p>

{% endblock %}

{% block userjs %}
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}