{% extends "base.html" %}
{% load static %}
{% block userstyles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    
</div>

<div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
        <img src="{% static 'img/home-image-2.jpg' %}" class="img-fluid" id="index-main-image" alt="Hope Counselling Homepage image">
    </div>
</div>


{% endblock %}

