/** General Styling **/

#main-page-title {
    padding-bottom: 30px;
    padding-top: 30px;
}

#main-page-title h1, #pageheader h1 {
    font-family: 'Tangerine', cursive;
    color: green;
}

#main-page-title h1 {
    font-size: 100px;
}

#pageheader h1 {
    font-size: 60px;
}

#index-main-image {
    max-height: 1000px;
    object-fit: contain;
}

#main-body {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    padding-top: 20px;
    background-color: green;
}

/** Media Queries **/