#main-page-title {
    padding-bottom: 30px;
    padding-top: 30px;
}

#main-page-title h1 {
    font-family: 'Tangerine', cursive;
    font-size: 100px;
    color: green;
}

#index-main-image {
    max-height: 1000px;
    object-fit: contain;
}

footer {
    padding-top: 20px;
    background-color: green;
}